@import "tailwindcss";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
html, body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
.no-scroll {
    overflow: hidden;
}

.bgProperty {
    background-color: rgba(0, 0, 0, 0.4); /* Black with 40% opacity */
    backdrop-filter: blur(10px); /* Adjust the blur intensity */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
}
